/* general portions of page control and their subsequent classes */
* {
    margin: 0;
}


body {
    background-color: bisque;
}


header {
    background-color: bisque;
    display: flex;
    /* background-color: yellow; */
    height: 50px;
    justify-content: space-between;
}

header h3 {
    margin: 15px 15px 0 0;
}

/* body of page classes, tried to keep it in order based on progression of the quiz */
main {
    background-color: bisque;
}

.main-container {
    /* display: none; */
    justify-content: center;
    text-align: center;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    height: 700px;
}

.intro-title {
    padding-top: 25px;
    font-size: 52px;
}

.intro-question {
    margin: 25px auto 0 auto;
    width: 80%;
    justify-self: center;
    font-size: 38px;

}

button {
    display: block;
    margin-top: 35px;
    background-color: lightblue;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
}

button:hover {
    background-color: darkblue;
    color: white;
}

/* question container classes */
.question-container {
    display: none;
    width: 75%;
    margin: auto;
    height: 700px;
}

.questions {
    font-size: 38px;
}

.answers {
    font-size: 28px;
    width: 100%;
}

/* ID's settings, still mostly in order of appearance */
/* wrong answer response in question container */
#response {
    display: none;
    border-top: 4px solid darkgrey;
    /* width: 75%; */
    margin-top: 25px;
    padding-top: 15px;
}

/* result container */
#result-container {
    display: none;
    justify-content: center;
    width: 75%;
    margin: auto;
    height: 700px;
    text-align: center;
}

#result {
    /* margin-top: 25px; */
    padding: 40px 0;
    font-size: 52px;
}

#initials {
    display: inline;
}

/* high scores settings */
#highscores-container {
    display: none;
    justify-content: center;
    width: 75%;
    margin: auto;
    height: 700px;
    text-align: center;
}

#highscores-title {
    background-color: darkgoldenrod;
    font-size: 52px;
    height: 60px;
    width: 53.5%;
    text-decoration: underline;
    margin: 0 auto;
    border: 3px solid black;
    border-bottom: 1.5px solid black;
}

#highscores-list {
    background-color: gold;
    width: 50%;
    height: 635.5px;
    margin: 0 auto;
    border: 3px solid black;
    border-top: 1.5px solid black;
    font-size: 24px;
}

#highscores-list li {
    width: 60%;
    margin: 10px auto;
    font-weight: bold;
}

#play-again {
    margin-top: -700px;
}

#clear-local {
    background-color: coral;
    margin-top: -50px;
    margin-left: 950px;
}

#clear-local:hover {
    background-color: red;
}


/* Header's ID's */
#highscore-button {
    margin: 0;
    background-color: lightgray;
    width: 150px;
    height: 30px;
    font-size: 16px;
    margin: 15px 0 0 15px;
}

#highscore-button:hover {
    background-color: black;
    color: white;
}

#timer {
    margin-right: 15px;
    margin-top: 15px;
    /* background-color: white; */
    width: fit-content;
    justify-self: right;
}